@charset "UTF-8";
/* CSS Document */


/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');*/

/* Noto Sans KR */
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:100;
	src:local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
		url(../font/NotoSansKR-Thin.eot),
		url(../font/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),
		url(../font/NotoSansKR-Thin.woff) format('woff'),
		url(../font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:300;
	src:local('Noto Sans KR Light'), local('NotoSansKR-Light'),
		url(../font/NotoSansKR-Light.eot),
		url(../font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
		url(../font/NotoSansKR-Light.woff) format('woff'),
		url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
		url(../font/NotoSansKR-Regular.eot),
		url(../font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
		url(../font/NotoSansKR-Regular.woff) format('woff'),
		url(../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
		url(../font/NotoSansKR-Medium.eot),
		url(../font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
		url(../font/NotoSansKR-Medium.woff) format('woff'),
		url(../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	 src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
		url(../font/NotoSansKR-Bold.eot),
		url(../font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
		url(../font/NotoSansKR-Bold.woff) format('woff'),
		url(../font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:900;
	src:local('Noto Sans KR Black'), local('NotoSansKR-Black'),
		url(../font/NotoSansKR-Black.eot),
		url(../font/NotoSansKR-Black.eot?#iefix) format('embedded-opentype'),
		url(../font/NotoSansKR-Black.woff) format('woff'),
		url(../font/NotoSansKR-Black.otf) format('opentype');
}

/* Gmarket Sans */
@font-face{
	font-family:'Gmarket Sans';
	font-style:normal;
	font-weight:700;
	src:local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('../font/GmarketSansBold.woff2') format('woff2'),/* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansBold.woff') format('woff');/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face{
	font-family:'Gmarket Sans';
	font-style:normal;
	font-weight:500;
	src:local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('../font/GmarketSansMedium.woff2') format('woff2'),/* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansMedium.woff') format('woff');/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face{
	font-family:'Gmarket Sans';
	font-style:normal;
	font-weight:300;
	src:local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('../font/GmarketSansLight.woff2') format('woff2'),/* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansLight.woff') format('woff');/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

header,nav,section,article,aside,footer,hgroup,menu,canvas,figcaption,figure{display:block;}
html,body,table,th,td,div,p,ol,ul,li,img,a,h1,h2,h3,h4,h5,h6,form,fieldset,label,input,textarea,select,span,iframe,dl,dt,dd,pre,blockquote,time,hr{margin:0;padding:0;}


/* basic */
/*:lang(ko){word-break:keep-all;}*/
html, body{margin:0;padding:0;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:100%;}
body{width:100%;font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','Dotum','Gulim','Arial',sans-serif;font-size:12px;color:#333;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:100%;}
body{cursor:default;}
/*html *, body *{font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','Dotum','Gulim','Arial',sans-serif;}*/
div,p,ol,ul,li,img,a,h1,h2,h3,form,span,iframe,dl,dt,dd{}
dl,ul,ol{list-style:none;}
table{empty-cells:show;border-collapse:collapse;width:100%;table-layout:fixed;}
fieldset{border:none;}
legend,caption,hr{display:none;}
img{border:none;}
img,label{vertical-align:top;}
button{border:0;border-radius:0;box-shadow:none;background:none;-webkit-appearance:none;}
button:focus{outline:none;}
input, select, textarea{border-radius:0;font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','Dotum','Gulim','Arial',sans-serif;color:#555;}
textarea{resize:vertical;}
ul, ol{list-style:none;}
em{font-style:normal;}
caption span, legend{overflow:hidden;position:absolute;left:-9999px;}

/* align */
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.tal{text-align:left !important;}

.vat{vertical-align:top !important;}
.vam{vertical-align:middle !important;}
.vab{vertical-align:bottom !important;}

.frt{float:right !important;}
.flt{float:left !important;}
.fno{float:none !important;}

.cboth{*zoom:1;}
.cboth:before,.cboth:after{display:table;content:'';}
.cboth:after{clear:both;}

/* text common */
/* default link */
a{text-decoration:none;cursor:pointer;}
a:link, a:visited{text-decoration:none;color:#333;}
a:hover, a:active{text-decoration:none;color:#333;}

.tx_gray1{color:# !important;}
.tx_red1{color:# !important;}
.tx_blue1{color:# !important}

.ls0{letter-spacing:0 !important;}
.ls1{letter-spacing:-1px !important;}
.ls2{letter-spacing:-2px !important;}
.ls3{letter-spacing:-3px !important;}

/* etc */
.blind{position:absolute;top:-100000px;left:-100000px;width:0;height:0;line-height:0;visibility:hidden;overflow:hidden;}
*:first-child+html body .blind{clear:both;position:absolute;overflow:hidden;left:0;top:0;margin:0;padding:0;background:none;text-indent:-100000px;}
.skip{position:absolute;top:-100000px;left:-100000px;visibility:hidden;overflow:hidden;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.box-sizing{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.tx_ellipsis90{display:block;max-width:90%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.tx_ellipsis95{display:block;max-width:95%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.tx_ellipsis100{display:block;max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.yDisable{background-color:#f5f5f5 !important;}
.nDisable{background-color:#fff !important;}

/* margin */
.mgt0{margin-top:0 !important;}
.mgt1{margin-top:1px !important;}
.mgt2{margin-top:2px !important;}
.mgt3{margin-top:3px !important;}
.mgt4{margin-top:4px !important;}
.mgt5{margin-top:5px !important;}
.mgt6{margin-top:6px !important;}
.mgt7{margin-top:7px !important;}
.mgt8{margin-top:8px !important;}
.mgt9{margin-top:9px !important;}
.mgt10{margin-top:10px !important;}
.mgt11{margin-top:11px !important;}
.mgt12{margin-top:12px !important;}
.mgt13{margin-top:13px !important;}
.mgt14{margin-top:14px !important;}
.mgt15{margin-top:15px !important;}
.mgt16{margin-top:16px !important;}
.mgt17{margin-top:17px !important;}
.mgt18{margin-top:18px !important;}
.mgt19{margin-top:19px !important;}
.mgt20{margin-top:20px !important;}
.mgt22{margin-top:22px !important;}
.mgt25{margin-top:25px !important;}
.mgt26{margin-top:26px !important;}
.mgt30{margin-top:30px !important;}
.mgt32{margin-top:32px !important;}
.mgt35{margin-top:35px !important;}
.mgt36{margin-top:36px !important;}
.mgt38{margin-top:38px !important;}
.mgt40{margin-top:40px !important;}
.mgt45{margin-top:45px !important;}
.mgt48{margin-top:48px !important;}
.mgt50{margin-top:50px !important;}
.mgt51{margin-top:51px !important;}
.mgt55{margin-top:55px !important;}
.mgt60{margin-top:60px !important;}
.mgt65{margin-top:65px !important;}
.mgt70{margin-top:70px !important;}
.mgt73{margin-top:73px !important;}
.mgt75{margin-top:75px !important;}
.mgt77{margin-top:77px !important;}
.mgt80{margin-top:80px !important;}
.mgt84{margin-top:84px !important;}
.mgt85{margin-top:85px !important;}
.mgt86{margin-top:86px !important;}
.mgt87{margin-top:87px !important;}
.mgt88{margin-top:88px !important;}
.mgt90{margin-top:90px !important;}
.mgt92{margin-top:92px !important;}
.mgt94{margin-top:94px !important;}
.mgt95{margin-top:95px !important;}
.mgt96{margin-top:96px !important;}
.mgt97{margin-top:97px !important;}
.mgt100{margin-top:100px !important;}
.mgt101{margin-top:101px !important;}
.mgt104{margin-top:104px !important;}
.mgt110{margin-top:110px !important;}
.mgt114{margin-top:114px !important;}
.mgt120{margin-top:120px !important;}
.mgt125{margin-top:125px !important;}
.mgt128{margin-top:128px !important;}
.mgt130{margin-top:130px !important;}
.mgt135{margin-top:135px !important;}
.mgt136{margin-top:136px !important;}
.mgt140{margin-top:140px !important;}
.mgt150{margin-top:150px !important;}
.mgt155{margin-top:155px !important;}
.mgt160{margin-top:160px !important;}
.mgt163{margin-top:163px !important;}
.mgt168{margin-top:168px !important;}
.mgt190{margin-top:190px !important;}
.mgt250{margin-top:250px !important;}

.mgb0{margin-bottom:0 !important;}
.mgb5{margin-bottom:5px !important;}
.mgb10{margin-bottom:10px !important;}
.mgb12{margin-bottom:12px !important;}
.mgb13{margin-bottom:13px !important;}
.mgb15{margin-bottom:15px !important;}
.mgb20{margin-bottom:20px !important;}
.mgb25{margin-bottom:25px !important;}
.mgb30{margin-bottom:30px !important;}
.mgb35{margin-bottom:35px !important;}
.mgb40{margin-bottom:40px !important;}
.mgb50{margin-bottom:50px !important;}
.mgb55{margin-bottom:55px !important;}
.mgb60{margin-bottom:60px !important;}
.mgb70{margin-bottom:70px !important;}
.mgb80{margin-bottom:80px !important;}
.mgb100{margin-bottom:100px !important;}

.mgl0{margin-left:0 !important;}
.mgl1{margin-left:1px !important;}
.mgl2{margin-left:2px !important;}
.mgl3{margin-left:3px !important;}
.mgl4{margin-left:4px !important;}
.mgl5{margin-left:5px !important;}
.mgl6{margin-left:6px !important;}
.mgl7{margin-left:7px !important;}
.mgl10{margin-left:10px !important;}
.mgl15{margin-left:15px !important;}
.mgl16{margin-left:16px !important;}
.mgl20{margin-left:20px !important;}

/* padding */
.pdl0{padding-left:0 !important;}
.pdl10{padding-left:10px !important;}
.pdl20{padding-left:20px !important;}
.pdl30{padding-left:30px !important;}
.pdl40{padding-left:40px !important;}
.pdl50{padding-left:50px !important;}
.pdl60{padding-left:60px !important;}
.pdl70{padding-left:70px !important;}
.pdl80{padding-left:80px !important;}
.pdl90{padding-left:90px !important;}
.pdl100{padding-left:100px !important;}
.pdl110{padding-left:110px !important;}
.pdl120{padding-left:120px !important;}
.pdl130{padding-left:130px !important;}

.pdr0{padding-right:0 !important;}
.pdr10{padding-right:10px !important;}
.pdr20{padding-right:20px !important;}
.pdr30{padding-right:30px !important;}
.pdr40{padding-right:40px !important;}
.pdr50{padding-right:50px !important;}
.pdr60{padding-right:60px !important;}
.pdr70{padding-right:80px !important;}
.pdr80{padding-right:70px !important;}

/* font */
.fwn{font-weight:400 !important;}
.fwm{font-weight:500 !important;}
.fwb{font-weight:700 !important;}

/* IE10 input type auto x delete */
input[type=text]::-ms-clear,input[type=file]::-ms-clear{display:none;}

/* webkit */
::-webkit-input-placeholder{color:rgba(0,0,0,.3) !important;}
/* FF 4~18 */
:-moz-placeholder{color:rgba(0,0,0,.3) !important;}
/* FF 19+ */
::-moz-placeholder{color:rgba(0,0,0,.3) !important;}
/* IE10+ */
:-ms-input-placeholder{color:rgba(0,0,0,.3) !important;}
/* placehoder color style */
.my-placeholder{color:rgba(0,0,0,.3) !important;}

/* from (error)placeholder */
.frmError{border-color:#ff5858 !important;}
.frmError::-webkit-input-placeholder{color:#ff5858 !important;}
.frmError:-moz-placeholder{color:#ff5858 !important;}
.frmError::-moz-placeholder{color:#ff5858 !important;}
.frmError:-ms-input-placeholder{color:#ff5858 !important;}

/* Chrome Field Outline = None */
input:focus{outline:none;}
textarea:focus{outline:none;}
select:focus{outline:none;}
button:focus{outline:none;}
